<div class="tweet-show">
  <div class="tweet-box">
    <h2 class="name">
      <%= @tweet.title %>
    </h2>
    <div class='tweet-img-content'>
      <iframe width="550" height="350" src="https://www.youtube.com/embed/<%= @tweet.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tweet-price-box">
      <span class="tweet-price">
         <%= @tweet.text %>
      </span>
    </div>
  <% if user_signed_in? && current_user.id == @tweet.user.id %>
    <%= link_to '投稿の編集', edit_tweet_path, method: :get, class: "tweet-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', tweet_path, method: :delete, class:'tweet-destroy' %>
  <% end %>  

  <% if user_signed_in? %>
    <div class="option">

      <div class="favorite-btn">  
      </div>
      <div class="report-btn">
      <span>不適切な商品の通報</span>
      </div>
    </div>
  <% end %>  
  </div>
</div>
